.active p {
    color: cornflowerblue;
}


.menuBar {

    width: 50px;
    background-color: #f1f6fa;
    transition: 300ms ease-in;
    height: 100vh;
    position: sticky;

}

.menuBar ul {
    position: fixed;
}


.menuBar:hover {
    width: 200px;
    transition: 300ms ease-out;
}
